.bodyBox {
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.childOne {
  width: 80%;
  margin-right: 5%;
}
.childOne_a {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}
.childOne_as {
  color: red;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
}
/* .childOne > div > span:first-child {
  color: #000;
  font-size: 1rem;
}
.childOne > div > span:last-child {
  padding-left: 2rem;
} */
.childOne > div > span {
  font-size: 0.9rem;
}
.childTwo {
  width: 15%;
  text-align: center;
  padding: 0.2rem 0.1rem;
  background-color: #f0ad4e;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
}
