.myTask-box {
  padding-top: 2.8rem;
  padding-bottom: 4rem;
}
.myTask-box-title {
  padding: 0.7rem 2%;
  text-align: center;
  color: #000;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
.myTask-box > li > a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 4%;
  border-bottom: 1px solid #d7d7d7;
}
.myTask-box > li > a > div {
  display: flex;
  align-items:center;
}
.myTask-box > li > a > div > span {
  color: #000;
  margin-left: 0.5rem;
}
