.buyAdmin-box {
  width: 100%;
  padding: 3.4rem 0.6rem 0 0.6rem;
  background-color: #fff;
}
.buyAdmin-title {
  padding-bottom: 1rem;
  color: red;
  font-size: 1rem;
  font-weight: bold;
}
.buy-input {
  width: 100%;
}
.look-shilitu {
  display: flex;
  justify-content: space-between;
  color: red;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 1.5rem;
  margin-bottom: 2.5rem;
}
.btn-buy {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}
.buyAdmin-box > ul > li {
  border-bottom: 1px solid #e7e7e7;
}
a {
  color: rgba(0, 0, 0, 0.65);
}
.bind-list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.bind-list > div > img {
  padding-right: 0.5rem;
}
.bind-content {
  color: red;
  margin-left: 2rem;
}
.names {
  display: flex;
  align-items: center;
  width: 75%;
}
.longsize {
  width: 37%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.toto {
  width: 25%;
}
.toto > img {
  padding-right: 0 !important;
}
