.all-task {
  display: flex;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}
.left-img {
  width: 30%;
}
.left-img > img {
  width: 100%;
  height: 100%;
  padding-right: 0.4rem;
}
.right {
  width: 70%;
}
.right-top {
  justify-content: space-between;
  padding: 0.3rem 0.4rem;
  border-bottom: 1px solid #d7d7d7;
  color: #000;
}
.right-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.4rem;
}
.right-center > p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1890ff;
}
.right-bottom {
  display: inline;
  justify-content: space-between;
  font-size: 1rem;
  color: #000;
}
.paddingBottom {
  padding-bottom: 0.1rem;
}
.right-bottom > p > span:nth-child(2) {
  color: #007aff;
  margin-right: 0.4rem;
}
.taskss {
  color: red;
}
.taskLists {
  padding: 0.4rem 0.6rem;
  background-color: #fbdbdb;
  color: #f30;
  font-size: 1rem;
}
