div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, li {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}
.tabTitle {
  padding: 0.7rem 0;
  background-color: #32920c;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  position: fixed;
  width: 100%;
  z-index: 99;
}
