.task-list {
  width: 100%;
  display: flex;
  padding: 0.5rem 0.5rem;
  justify-content: space-between;;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  background-color: #fff;
  margin-bottom: 0.5rem;
}
.listLeft {
  width: 45%;
}
.listLeft > p:first-child {
  color: #ff6235;
  font-size: 1.2rem;
}
.listLeft > p {
  text-align: center;
}
.amount {
  text-align: center;
}
.amount > span {
  padding: 0.1rem 0.8rem;
  background-color: #1fb7e5;
  border-radius: 7px;
  color: #fff;
  font-size: 0.8rem;
}

.is_bind {
  padding: 0.4rem 0.4rem;
  background-color: #f8e9bb;
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

.listCenter {
  width: 25%;
  text-align: center;
}
.listCenter > p:first-child {
  color: #ff6235;
  font-size: 1.3rem;
}

.listRight {
  width: 30%;
  text-align: center;
}
.listRight > .button {
  border: none;
  background-color: #ff6235;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  color: #fff;
}
.listRight > .button > a {
  display: block;
  color: #fff;
}

.null-list {
  color: red;
  text-align: center;
  font-size: 1rem;
}

.loading {
  text-align: center;
}
.loading > p {
  font-size: 1rem;
  font-weight: bold;
  color: #0673bb;
}

.loadings {
  text-align: center;
}
.loadings > p {
  font-size: 1rem;
  font-weight: bold;
  color: #0673bb;
}
.loadings {
  padding-top: 50%;
}
